.menu {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0;
	margin: 0;
	width: 100vw;
	height: 5rem;
	border: 5px solid #2e3292;
	background-color: #efa616;
	position: fixed;
	top: 0;
	left: 0;
}

@media(max-width: 48rem){
	.menu{
		width: 100%;
		display: flex;
	}
}

.menu__logo{
	height: 25vh;
	margin-top: 20vh;
	margin-left: 20px;	
}

@media(max-width: 48rem){
	.menu__logo{
		max-width: 20vw;
		margin-top: 0;
		margin-left: 5vw;
	}
}

.menu__caixa--itens{
	width: 50vw;
	display: flex;
	justify-content: space-between;
}

.menu__itens{
	padding-right: 1.3vw;
	font-family: Source Bold;
	font-weight: 700;
	color: #2E3192;
	text-decoration: none;
}

@media(max-width: 48rem){
	.menu__itens{
		display: none;
	}
}

.home{
	width: 100vw;
	height: 100vh;
	background: url(assets/homeFundo.jpg) top;
	background-size: cover;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

@media(max-width: 48rem){
	.home{
		width: 100vw;	
		height: 50vh;
	}
}

.home__caixa{
	width: 565px;
	height: 199px;
	margin-right: 10%;
}

@media(max-width: 48rem){
	.home__caixa{
		width: 100vw;
	}
}

.home__caixa--texto{
	font-family: Source Black;
	color: #fff;
	font-size: 2.625em;
}

@media(max-width: 48rem) {
	.home__caixa--texto{
		font-size: 1em;
		margin-top: 10%;
		margin-left: 50%;
	}
}